@font-face {
  font-family: 'PT Root UI';
  src:
    url('fonts/PT-Root-UI_Bold.woff2') format('woff2'),
    url('fonts/PT-Root-UI_Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'PT Root UI';
  src:
    url('fonts/PT-Root-UI_Medium.woff2') format('woff2'),
    url('fonts/PT-Root-UI_Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'PT Root UI';
  src:
    url('fonts/PT-Root-UI_Regular.woff2') format('woff2'),
    url('fonts/PT-Root-UI_Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'PT Root UI';
  src:
    url('fonts/PT-Root-UI_Light.woff2') format('woff2'),
    url('fonts/PT-Root-UI_Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Lemony Personal Use Regular';
  font-style: normal;
  font-weight: normal;
  src:
    local('Lemony Personal Use Regular'),
    url('/src/fonts/LemonyPersonalUse.woff2') format('woff2'),
    url('/src/fonts/LemonyPersonalUse.woff') format('woff');
}
@font-face {
  font-family: 'TT Commons Pro Edu';
  font-style: normal;
  font-weight: normal;
  src:
    local('TT Commons Pro Edu'),
    url('/src/fonts/TTCommonsProEducationalVariable.woff2') format('woff2'),
    url('/src/fonts/TTCommonsProEducationalVariable.woff') format('woff');
}
