@font-face {
  font-family: 'PT Root UI';
  src:
    url('/src/fonts/pt-root-ui_bold.woff2') format('woff2'),
    url('/src/fonts/pt-root-ui_bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'PT Root UI';
  src:
    url('/src/fonts/pt-root-ui_medium.woff2') format('woff2'),
    url('/src/fonts/pt-root-ui_medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'PT Root UI';
  src:
    url('/src/fonts/pt-root-ui_regular.woff2') format('woff2'),
    url('/src/fonts/pt-root-ui_regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'PT Root UI';
  src:
    url('/src/fonts/pt-root-ui_light.woff2') format('woff2'),
    url('/src/fonts/pt-root-ui_light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Lemony Personal Use Regular';
  font-style: normal;
  font-weight: normal;
  src:
    local('Lemony Personal Use Regular'),
    url('/src/fonts/LemonyPersonalUse.woff2') format('woff2'),
    url('/src/fonts/LemonyPersonalUse.woff') format('woff');
}
@font-face {
  font-family: 'TT Commons Pro Edu';
  font-style: normal;
  font-weight: normal;
  src:
    local('TT Commons Pro Edu'),
    url('/src/fonts/TTCommonsProEducationalVariable.woff2') format('woff2'),
    url('/src/fonts/TTCommonsProEducationalVariable.woff') format('woff');
}
