body.index {
  background-color: #728d6e;
  font-family: 'PT Root UI';
  color: #ffffff;
  margin-left: 20px;
  h1 {
    font-size: 48px;
    margin-top: 20px;
  }
  h2 {
    font-size: 40px;
    margin-top: 20px;
  }
  h3 {
    font-size: 24px;
    margin-top: 20px;
  }
  h4 {
    font-size: 18px;
    margin-top: 20px;
  }
}
